<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>User Form</title>
</head>
<body>

	<h1 th:text="${isUpdate} ? '사용자 수정' : '사용자 등록'"></h1>

	<form th:action="@{/users/{id}(id=${user.id})}" method="post">
		<input type="hidden" name="_method" value="put"/>
		
		<label>ID</label>
		<input type="text" th:field="*{id}" th:readonly="${isUpdate}"/><br/>
		
		<label>이름</label>
		<input type="text" th:field="*{name}"/><br/>
		
		<label>이메일</label>
		<input type="email" th:field="*{email}"/><br/>
		
		<button type="submit" th:text="${isUpdate} ? '수정' : '등록'"></button>
	</form>
	
	<br/>
	<a th:href="@{/users}">목록으로 돌아가기</a>
</body>
</html>